@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-rose-100 to-amber-100;
}

.product-list {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6;
}

.product-card {
  @apply bg-yellow-50 bg-opacity-60 shadow-md rounded-lg overflow-hidden transition-transform transform hover:scale-105;
}

.product-card h2 {
  @apply text-lg font-semibold p-4;
}

@font-face {
  font-family: 'Pilowlava';
  src: url('/Pilowlava-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-4xl {
  font-family: 'Pilowlava', sans-serif;
}

.bg-dark {
  background-color: #333;
  padding: 10px 20px;
}

.btn-burungdy {
  @apply bg-pink-700 text-yellow-50 px-6 py-3 rounded-lg hover:bg-pink-800 transition duration-300;
}

.btn-turqoise {
  @apply bg-teal-500 text-yellow-50 px-6 py-3 rounded-lg hover:bg-teal-600 transition duration-300;
}

.input-field {
  @apply bg-white border border-gray-300 rounded-lg p-2 w-full;
}

.product-card canvas {
  width: 100%;
  height: 300px;
}

.rounded-canvas {
  border-radius: 15px; /* Ajusta el valor según tus necesidades */
}
